# Ignore configuration files that may contain sensitive information.
#
sites/*/settings*.php
sites/default/settings.php

# Ignore paths that contain user-generated content.
sites/default/files
sites/default/private
sites/explorevr.org

.htaccess
*.txt
COPYRIGHT.txt
authorize.php
.editorconfig
cron.php
includes
index.php
INSTALL.mysql.txt
install.php
misc
modules
profiles
scripts
themes
update.php
web.config
xmlrpc.php
