/* bootstrap overrides */

@import url('https://fonts.googleapis.com/css?family=PT+Sans');





h1.page-header
span i.fa {
padding: 5px !important;
}

article.node li {padding-bottom:10px;}

/* !bootstrap overrides */
#navbar {
	font-family:'Open Sans',sans-serif;
	opacity:.96;
	font-weight:700;
	min-height:75px;
	/*padding-top:12px;
 border: 0; */
}
ul.nav li.dropdown:hover ul.dropdown-menu li.expanded ul.dropdown-menu {
  display: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover > ul.dropdown-menu {
  display: block;
  top: 0%;
  left: 100%;
  right: auto;
}


li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

nav .dropdown-menu {
  margin: 0px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626!important;
    text-decoration: none;
    background-color: #f5f5f5!important;
}

.dropdown-menu {
    padding: 0px;
}

body.logged-in {margin-top:12px;}
#navbar .nav .dropdown > .dropdown-menu {
  left: auto;
  right: 0px;
}
#navbar .dropdown-menu {
  border: none;
  border-radius: 0px;
}
#navbar .dropdown-menu li {
  width: 100%;
}
#navbar .nav>li {
  margin-top: 15px;
}

#navbar .nav>li>a {
  text-transform: uppercase;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar .nav {
  border: none;
}

#navbar .navbar-toggle {
  border-radius: 0px;
}

/*
#navbar .caret {
  margin-left: 0px;
  border-top: 5px solid transparent;
  border-left: 5px solid;
  border-bottom: 5px solid transparent;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

*/
#navbar .menu-depth-1 > a .caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0px;
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

#navbar .search-form .input-group {
  width: 220px;
}
#navbar form.search-form {
  float: left;
  margin-top: 10px;
}
ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover > ul.dropdown-menu {
  display: block;
  top: -5px;
  right: auto !important;
  left: 100% !important;
}



.callout-box{
  	 background: hsl(0, 0%, 100%) none repeat scroll 0 0;
   	 border: 1px solid hsl(0, 0%, 82%);
   	 box-shadow: 5px 5px 0 hsla(0, 0%, 0%, 0.07);
   	 padding: 15px;
   	 margin:20px 0;
}


/* Home page */
/* home page welcome region */

.dropdown-menu {min-width: 200px;}


/*

.home-welcome {
  background-image: url(images/grid-paper.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  max-height:250px;
  font-family: 'Open Sans', sans-serif;

}

/*

.home-welcome {
  background-image: url(images/polygon-blue-bkgd.jpg);

  background-repeat: repeat;
  font-family: roboto;
}
*/

/*
.home-welcome img {vertical-align: middle}

.home-welcome .main-title {

  font-size: 4em;
}

.home-welcome .main-desc {
  margin-top: 5px;
      font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
}

.home-welcome .block-icon-circle {
  display: inline-block;
  font-size: 4em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding:20px;
}
.home-welcome .block-icon-circle i {
  vertical-align: middle;
}

.home-welcome .block-icon-circle:hover {
	background-color: #FFCC07!important;
  opacity: 0.9;
}
.home-welcome .block-text {
  display: block;
  font-size: 2em;
}
.home-welcome .block-desc {
  display: block;
}
.home-welcome .content-block-group {
  margin-top: 50px;
}

/* home page call to action */
/*.home-cta {
 font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-bottom: 10px;
}

.home-cta .content-box .title {
  font-size: 1.7em;
  font-weight: normal;
  margin-left: 18px;
 margin-top: 30px;
  margin-bottom: 7px;
}

.home-cta .content-box .description {
  font-size: 1.23em;
  margin-left: 18px;
    padding-bottom:10px;
}

.home-cta .content-box {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 4px solid;
  height: auto;
}

.home-cta .content-box .buynow-button {
  align-items: center;
  display: flex;
  height: 118px;
}

.home-cta .content-box .buynow-button .btn {
  border-radius: 0px;
  width: 107px;
  height: 40px;
  box-shadow: none;
}

.home-cta .content-box .buynow-button a {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: none;
  padding-top: 9px;
  padding-left: 13px;
  text-decoration: none;
}

/* home page features */
/*.home-features {

  padding-top: 15px;
  margin-bottom:5px;
}

.home-features .top-header h2.title {
  font-size: 2.1em;
   margin-bottom: 15px;
    color:#fff!important;
}


.home-features .top-header {
	 background-color: #0075AD!important;


}

.home-bottom .top-header {background-color: #0075AD!important; }



.home-features .description {
  font-size: 1.08em;
 padding:5px 15px;
  background-color: #f6f6f6;
}

.home-features .content-boxes {  background-color: #f6f6f6;}


.home-features .content-boxes .content-boxes-left .title {
  font-size: 1.4em;
  font-weight: normal;
}

.home-features .content-boxes .content-boxes-left .description {
  font-size: 1.1em;
}

.home-features .content-boxes .content-boxes-right .title {
  font-size: 1.4em;
  font-weight: normal;
}

.home-features .content-boxes .content-boxes-right .description {
  font-size: 1.1em;
}

/*
.home-features .content-boxes-left  .content-box {
  margin-right: 10px;
}
*/

/*
.home-features .content-box {
  padding-bottom: 15px;
  background-color: #f6f6f6;
}

.home-features .content-box .icon-box {
  margin-top: 15px;
  border: 1px solid;
  display: block;
  height: 85px;
  padding: 7px;
  text-align: center;
  width: 85px;
}

.home-features .content-box .icon-inner-box {
  display: block;
  height: 68px;
  width: 68px;
}

.home-features .content-box .icon-inner-box i {
  font-size: 3.5em;
  padding-top: 11px;
  padding-bottom: 15px;
}





.home-features .content-boxes-right .content-box-right {
  padding-left: 30px;
}

/* home page bottom */
/*.home-bottom {
  font-family: 'Open Sans', sans-serif;
  margin-top: 25px;
  padding-bottom: 30px;}





.home-bottom .top-header .title {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 3px;

}

.home-bottom .top-header .description {
  font-size: 1.2em;
  margin-bottom: 17px;
}

.home-bottom .content-boxes .content-box .icon {
  font-size: 2.9em;
  padding-top: 25px;
}

.home-bottom .content-boxes .content-box .title {
  font-size: 1.60em;
  font-weight: normal;
  display: inline;
  padding-top: 0;
  vertical-align: super;
}

.home-bottom .content-boxes .content-box .description {
  font-size: 1.1em;
  padding-top: 2.8px;
}

.home-bottom .content-boxes .content-box {
  padding-bottom: 24px;
  padding-top: 20px;
  padding-left: 26px;
}

*/

.home-welcome {
	background-image:url(images/grid-paper.jpg);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
/*height: 250px;*/
	max-height:250px;
	font-family:'Open Sans',sans-serif;
/*margin-bottom:50px;*/
}

/*

.home-welcome {
  background-image: url(images/polygon-blue-bkgd.jpg);

  background-repeat: repeat;
  font-family: roboto;
}
*/
.home-welcome img {
	vertical-align:middle;
}

.home-welcome .main-title {
/*  margin-top: 145px; */
	font-size:4em;
}

.home-welcome .main-desc {
	margin-top:5px;
	font-size:1.6em;
	font-weight:700;
	letter-spacing:1px;
}

.home-welcome .block-icon-circle {
	display:inline-block;
	font-size:4em;
	border-radius:50%;
	width:150px;
	height:150px;
	padding:20px;
}

.home-welcome .block-icon-circle i {
	vertical-align:middle;
}

.home-welcome .block-icon-circle:hover {
	background-color:#FFCC07!important;
	opacity:.9;
}

.home-welcome .block-text {
	display:block;
	font-size:2em;
}

.home-welcome .block-desc {
	display:block;
}

.home-welcome .content-block-group {
	margin-top:50px;
}

/* home page call to action */

/*
.home-cta {
	font-family:'Open Sans',sans-serif;
	padding-top:40px;
	padding-bottom:10px;
}

.home-cta .content-box .title {
	font-size:1.7em;
	font-weight:400;
	margin-left:18px;
	margin-top:30px;
	margin-bottom:7px;
}

.home-cta .content-box .description {
	font-size:1.23em;
	margin-left:18px;
	padding-bottom:10px;
}

.home-cta  {
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:4px solid;
	height:auto;
}
*/

/* home page features */
/*.home-features , .home-features2{
  font-family: 'Open Sans', sans-serif;
 padding-bottom: 50px;
  padding-top: 15px;
  margin-bottom:5px;
}

*/


/*-----Updated Home Styles ------ */

#home-features, #home-features2, #home-features3, #home-features4, #home-cta, #home-bottom {
    margin-bottom: 40px;
}

.home-features .top-header h2.title,.home-features2 .top-header h2.title {
	font-size:2.1em;
	margin-bottom:15px;
	color:#fff!important;
	background-color:#0075AD!important;
}

#home-features,#home-features2,#home-features3,#home-features4,#home-cta,#home-bottom {
	margin-bottom:40px;
}

h4.title {
	display:initial;
}

.home-features.top-header,.home-features2.top-header,.home-features3.top-header,.home-features4.top-header {
	background-color:#0075AD!important;
}

.home-bottom .top-header {
	background-color:#0075AD!important;
}

.home-section .description {
	font-size:1.08em;
	padding:25px 10px;
	background-color:#f6f6f6;
}

.home-cta .description {
	font-size:1.08em;
	padding:25px 10px;
	background-color:#fff;
}

.home-features .content-box .description {
	padding:0;
}

.home-features .content-boxes,.home-features2 .content-boxes,.home-features3 .content-boxes,.home-features4 .content-boxes {
	background-color:#f6f6f6;
	    padding-top: 15px;
}

.home-features2 .content-boxes .content-boxes-left .title {
	font-size:1.2em;
	font-weight:400;
}

.home-features2 .content-boxes .content-boxes-left .description {
	font-size:1.08em;
	padding:15px 0;
}

.home-features2 .content-boxes .content-boxes-right .title {
	font-size:1.2em;
	font-weight:400;
}

.home-features2 .content-boxes .content-boxes-right .description {
	font-size:1.08em;
	padding:15px 0;
}

/*
.home-features .content-boxes-left  .content-box {
  margin-right: 10px;
}
*/
.home-features .content-box {
	padding-bottom:15px;
	background-color:#f6f6f6;
}

.home-features2 .content-box .icon-box {
	margin-top:15px;
	border:1px solid;
	display:block;
	height:85px;
	padding:7px;
	text-align:center;
	width:85px;
	background-color:#0075AD;
}


.home-features3 .content-box .icon-box {
  margin-top: 15px;
  border: 1px solid;
  display: block;
  height: 85px;
  padding: 7px;
  text-align: center;
  width: 85px;
}

.home-features .content-box .icon-inner-box {
  display: block;
  height: 68px;
  width: 68px;
}

.home-features .content-box .icon-inner-box i {
  font-size: 3.5em;
  padding-top: 11px;
  padding-bottom: 15px;
}



.home-features2 .content-box .icon-inner-box {
	display:block;
	height:68px;
	width:68px;
}

.home-features2 .content-box .icon-inner-box i {
	font-size:3.5em;
	padding-top:11px;
	padding-bottom:15px;
}

.home-features2 .content-boxes-right .content-box-right {
	padding-left:30px;
}

/* home page bottom */
.home-bottom {
	font-family:'Open Sans',sans-serif;
	margin-top:25px;
	padding-bottom:30px;
}

.home-bottom .top-header .title {
	font-size:2.1em;
	font-weight:400;
	margin-top:15px;
	margin-bottom:3px;
}

.home-bottom .top-header .description {
	font-size:1.2em;
	margin-bottom:17px;
}

.home-bottom .content-boxes .content-box .icon {
	font-size:2.9em;
	padding-top:25px;
}

.home-bottom .content-boxes .content-box .title {
	font-size:1.6em;
	font-weight:400;
	display:inline;
	padding-top:0;
	vertical-align:super;
}

.home-bottom .content-boxes .content-box .description {
	font-size:1.1em;
	padding-top:2.8px;
}

.home-bottom .content-boxes .content-box {
	padding-bottom:24px;
	padding-top:20px;
	padding-left:26px;
}


/*-----END Home ------ */


/* Sitewide footer */

.info-icon .fa {
  vertical-align: text-top;
}
.footer-section {
 font-family: 'Open Sans', sans-serif;
}
.footer-section .footer-message {
 /* padding-top: 10px;
  padding-bottom: 10px;*/
}
.footer-section .footer-message .block-content {
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
}
.footer-section .footer-message .block-content .info-icon {
  text-align: center;
  font-size: 5em;
}
.footer-section .footer-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-section ul li a {
  font-size: 15px;
  background: transparent;
  font-weight: lighter;
  padding: 1px 0px;
}
.footer-section ul li a:hover {
  font-weight: normal;
  background: transparent;
}

.footer-section .block-title {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-section  h2 {
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0 10px;
    text-transform: uppercase;

}


.footer-section .footer-copyright {

  padding: 20px;
  background-color:#0073AE;
   padding:20px;
    font-family: 'Lato';
}
.footer-section .footer-copyright h2 {
  margin-bottom: 25px;
}
.footer-section .footer-copyright .block-content {
  line-height: 2em;
  font-size: 15px;
  font-weight: lighter;
}

.footer-section .footer-social .block-content .follow-link-wrapper a {
  padding-left: 0;
  width: 40px;
  text-align: center;
  padding-top: 8px;
  background: none;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.footer-section .follow-link-wrapper a:hover {
  text-decoration: none;
}
#footer-copyright h2,
#footer-copyright h3,
#footer-copyright h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#footer-copyright ul {
  display: inline-block;
}
#footer-copyright ul li {
  float: left;
  width: auto;
  margin: 0px 10px;
}

.footer-menu {display:block;width:100%;}


.theme-credit {
  padding-bottom: 20px;
}


/****hovercards**/
.row .hovercards {margin-bottom:40px;}

.hovercard {
  height: 400px;
  padding: 1.5rem 20px;
}

.hovercard.be {background-color: #C92E39;}
.hovercard.ct {background-color: #ffcb04;}
.hovercard.es {background-color: #988f86;}
.hovercard.lmi {background-color: #08ADFB;}


.hovercard > * {
  color: #fff;
}
.hovercard, .hovercard-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.hovercard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(70, 70, 70, 0.85);
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
.hovercard:hover .hovercard-overlay {
  opacity: 1;
  text-decoration: none;
}
.hovercard .logo {
  height: 120px;
  width: 80%;
  max-width: 200px;
}
.hovercard + * {
  margin-top: 1.5rem;
}

svg {margin: 5px 0;}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .hovercard {
    height: 200px;
  }
}
@media screen and (max-width: 599px) {
  .hovercard {
    height: auto;
  }

  .hovercard-overlay {
    position: static;
    height: auto;
    background: transparent;
    opacity: 1;
  }
}


.hovercards {
  text-align: center;
}
.hovercards h2 {
  margin-bottom: 1px;
}


*, *::before, *::after {
  box-sizing: border-box; }





hoverbutton, input, optgroup, select, textarea {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font: inherit;
  color: inherit; }

hoverbutton {
  overflow: visible; }

hoverbutton, select {
  text-transform: none; }

hoverbutton, html input[type="hoverbutton"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: hoverbutton;
  /* 2 */ }

hoverbutton[disabled], html input[disabled] {
  cursor: default; }

hoverbutton::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }



.hoverbutton {
  padding-top: 0.8125rem;
  padding-bottom: 0.6875rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  min-width: 7.5rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #59cb59;
  border-color: transparent;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  line-height: 1;
  letter-spacing: .1em;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.25rem;
  outline: 0;
  -webkit-transition: background-color 150ms, border-color 150ms, color 75ms ease-out;
          transition: background-color 150ms, border-color 150ms, color 75ms ease-out; }
  .hoverbutton:hover {
    background-color: #2bb656; }
  .hoverbutton:focus {
    border-color: #2bb656; }
  .hoverbutton:link, .hoverbutton:hover, .hoverbutton:active, .hoverbutton:visited {
    text-decoration: none;
    cursor: pointer; }
  .hoverbutton:active {
    -webkit-transform: translateY(0.0625rem);
        -ms-transform: translateY(0.0625rem);
            transform: translateY(0.0625rem); }
  .hoverbutton._block {
    display: block;
    width: 100%; }
  .hoverbutton._small {
    padding-top: 0.5rem;
    padding-bottom: 0.375rem;
    margin-top: 0.5625rem;
    margin-bottom: 0.5625rem;
    min-width: 5.625rem;
    padding-right: 1.3125rem;
    padding-left: 1.3125rem;
    font-size: 0.75rem; }
  .hoverbutton._large {
    padding-top: 1rem;
    padding-bottom: 0.875rem;
    margin-top: 0.6875rem;
    margin-bottom: 0.6875rem;
    min-width: 9.375rem;
    padding-right: 2.1875rem;
    padding-left: 2.1875rem;
    font-size: 1rem; }
  .hoverbutton._secondary {
    color: #59cb59;
    background-color: transparent;
    border-color: #59cb59; }
    .hoverbutton._secondary:hover {
      background-color: #59cb59;
      color: #fff; }
    .hoverbutton._secondary:focus {
      border-color: #30c130; }
    .hoverbutton._secondary:focus:hover {
      border-color: #59cb59; }
  .hoverbutton._inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
    .hoverbutton._inverse:hover {
      background-color: #fff;
      color: #4d4d4d; }
    .hoverbutton._inverse:focus {
      border-color: #e6e6e6; }
    .hoverbutton._inverse:focus:hover {
      border-color: #fff; }
  .hoverbutton._blue {
    color: #fff;
    background-color: #1d67a7;
    border-color: transparent; }
    .hoverbutton._blue:hover {
      background-color: #104d81; }
    .hoverbutton._blue:focus {
      border-color: #104d81; }
  .hoverbutton._twitterblue {
    color: #fff;
    background-color: #2caae1;
    border-color: transparent; }
    .hoverbutton._twitterblue:hover {
      background-color: #1291c8; }
    .hoverbutton._twitterblue:focus {
      border-color: #1291c8; }
  .hoverbutton._gray {
    color: #fff;
    background-color: #999;
    border-color: transparent; }
    .hoverbutton._gray:hover {
      background-color: gray; }
    .hoverbutton._gray:focus {
      border-color: gray; }
  .hoverbutton._link {
    color: #59cb59;
    background-color: transparent;
    border-color: transparent; }
    .hoverbutton._link:hover {
      background-color: transparent; }
    .hoverbutton._link:focus {
      border-color: transparent; }
  .hoverbutton._next::after {
    display: inline-block;
    -webkit-transform: translateY(-.1em);
        -ms-transform: translateY(-.1em);
            transform: translateY(-.1em);
    margin-left: .5em;
    content: '\203A'; }



.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
/*  max-width: 960px;*/ }
  @media screen and (max-width: 599px) {
    .row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .no-flexbox .row {
    display: table;
    width: 100%;
    table-layout: fixed;
    empty-cells: hide; }
  .row._centeritems {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .no-js .row._centeritems .col, .no-flexbox .row._centeritems .col {
      vertical-align: middle; }

@media screen and (min-width: 600px) {
  .row._boxed {
    padding: 40px 20px;
    border: 1px solid #ddd;
    border-radius: 5px; }
    .row._boxed > .col {
      padding-right: 32px; } }



    @media screen and (max-width: 599px) {
      .no-flexbox .col._span-5 {
        display: block;
        width: 100%; }
        .no-flexbox .col._span-5._offset {
          display: none; } }
.col._span-6 {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  @media screen and (max-width: 599px) {
    .col._span-6 {
      max-width: 100%;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; } }
  .no-flexbox .col._span-6 {
    display: table-cell;
    vertical-align: top; }
  .no-flexbox .col._span-6 {
    width: 50%; }
    @media screen and (max-width: 599px) {
      .no-flexbox .col._span-6 {
        display: block;
        width: 100%; }
        .no-flexbox .col._span-6._offset {
          display: none; } }

.col > .row {
  margin-right: -10px;
  margin-left: -10px;
  max-width: calc(100% + 20px); }
  @media screen and (max-width: 599px) {
    .col > .row {
      width: calc(100% + 20px); } }
  .no-flexbox .col > .row {
    width: calc(100% + 20px); }
.col._nogutter {
  padding: 0; }

.ie10-flexfix::after {
  content: ".";
  display: block;
  height: 0; }



.hovercard {
  height: 300px;
  padding: 1.5rem 20px;
  background: #1a1a1a; }
  .hovercard > * {
    color: #fff; }
  .hovercard, .hovercard-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .hovercard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(77, 77, 77, 0.85);
    opacity: 0;
    -webkit-transition: opacity 250ms;
            transition: opacity 250ms; }
  .hovercard:hover .hovercard-overlay {
    opacity: 1;
    text-decoration: none; }
  .hovercard .logo {
    height: 120px;
    width: 80%;
    max-width: 200px; }
  .hovercard + * {
    margin-top: 1.5rem; }
  .no-flexbox .hovercard, .no-js .hovercard {
    height: auto; }
    .no-flexbox .hovercard .hovercard-overlay, .no-js .hovercard .hovercard-overlay {
      position: static;
      height: auto;
      background: transparent;
      opacity: 1; }


      .jumbotron{
	background:  #333;
	color: #fff;
	text-align: center;
	font-size: inherit;
	font-weight: normal;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.jumbotron h2 {
    font-size: 42px;
}

/* CIRCLES */

.jumbotron-circles{
	margin-top: 1em;
}

.jumbotron p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;
       margin-top: .5em;
}

.jumbotron a{
    color: #fff;
}

.jumbotron a:hover{
    text-decoration: none;
}

.jumbotron .circle-text{

    font-size: 3.5em;
   /* transition: font-size .1s;*/
}


/*.jumbotron .circle-text:hover{
	font-size: 4em;
}*/

.circle {
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50px;
    -webkit-border-radius:50%;
    border-radius:50%;
    background: #4679BD;
}

.circle-text {
    width:100%;
}


.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #57a4a4;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: background .1s;
}


.circle-text div{
    float:left;
    width:100%;
   padding-top: 45%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    /*color:white;*/
}

.circle-text:hover:after{
    background: #396d6d;
}


      .deco-none {
        text-decoration: none !important;
      }
      .red-class {
          color: red !important;
      }

      h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', sans-serif;color:#000;line-height: 1.3em}

/*
      .fa {display: inline-block}
h5 { margin-bottom: 10px;vertical-align: middle}
      .ref {border-bottom: solid 1px #333; font-size: small}
      ul {padding-bottom:10px;}

    h1.fancy {
  line-height: 1.2;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative ;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  top: 15;
  width: 200px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
} */

small {font-size: small}




@media screen and (min-width: 600px) and (max-width: 899px) {
  .hovercard {
    height: 200px; }
    .home-welcome{ max-height:100px;}
    .home-welcome img { max-height:90px;}
    }

@media screen and (max-width: 599px) {
  .hovercard {
    height: auto; }
  .hovercard-overlay {
    position: static;
    height: auto;
    background: transparent;
    opacity: 1; }
     .home-welcome{ max-height:90px;}
     .home-welcome img { max-height:80px;}
    }







@media screen and (min-width: 600px) {
  h2._centered, h3._centered, .lead._centered {
    text-align: center; } }

@media screen and (max-width: 899px) {
  html {
    font-size: 14px; } }



/* video playlist*/

 .video-embed {

    margin:0 !important;
}
 .video-title {
    border-left: 6px solid #FFCB04;
    padding: 0 20px;

}
h2.wistia-name {
    font-family:'Open Sans';
    font-weight:600;
}
 .video-playlist {
    overflow-x: hidden;
    overflow-y: auto;
   /* height:563px;*/
    margin: 0 !important;
}

 .vid-btn {
    width:100%;
    border:none;
    font-family:"Open Sans";
    font-weight: 600;
    font-size: 90%;
    color: #DDD;
    background: none repeat scroll 0% 0% #272A2B;
    cursor: pointer;
    padding: 14px 8px 14px 53px;
    display: inline-block;
    margin: 0 0 4px 0;
    letter-spacing: 0.3px;
    text-align:left;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.vid-btn:last-child {
    margin:0;
}
.vid-btn:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    line-height: 1.52;
    font-size: 235%;
    width: 44px;
    text-align: center;
    background: #00a3df;
    border-left: 1px solid #00B6F9;
    color: #FFF;
    font-family: FontAwesome;
    content:"\f04b";
    font-weight:normal;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    /* column | row */
}
.vid-btn:not(.nohover):hover:before {
    background: #FFCB04;
border-left: 1px solid #FFCB04;
    color: #FFF;
}
.vid-btn.current-vid:not(.nohover):before {
    background: #0075AD ;
border-left: 1px solid #0075AD;
    color: #FFF;
}
.vid-btn:active {
    background:#FFCB04 !important;
    color:#000;
}
.vid-btn:active:before {
    background: #FFCB04;
    color: #FFF;
}
.vid-btn:not(.nohover):hover {
    background:#0075AD !important;
    color:#fff;
}
.vid-btn.current-vid:not(.nohover) {
    background:#0075AD !important;
    color:#fff;
}
.vid-btn:focus {
    background: none repeat scroll 0% 0% #272A2B;
}
.vid-btn:active {
    border: none;
    padding: 14px 8px 14px 53px;
}
.vid-header {
    width: 100%;
    border: medium none;
    font-family:"Open Sans";
    font-weight: 600;
    background: none repeat scroll 0% 0% #fff;
    border-left: 6px solid #333738;
    cursor: pointer;
    padding: 14px 8px 14px 53px;
    display: inline-block;
    margin: 0px 0px 4px;
    letter-spacing: 0.3px;
    color: #505050;
    font-size: 16px;
    padding-left:0.6em;
    cursor:default;
    text-transform:uppercase;
}



/* pullquotes */


.be-has-pullquote:before {
content: attr(data-pullquote);
background: #f9f9f9;
border-left: 10px solid #C92E39;
width: 38.2%;
min-width: 280px;
padding: 5px 0 5px 20px;
position: relative;
top: 5px;
font-size: 18px;
line-height: 25px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
-webkit-box-shadow: 2px 2px 10px #ccc;
-moz-box-shadow: 2px 2px 10px #ccc;
box-shadow: 2px 2px 10px #ccc;
}

.es-has-pullquote:before {
content: attr(data-pullquote);
background: #f9f9f9;
border-left: 10px solid #988F86;
width: 38.2%;
min-width: 280px;
padding: 5px 0 5px 20px;
position: relative;
top: 5px;
font-size: 18px;
line-height: 25px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
-webkit-box-shadow: 2px 2px 10px #ccc;
-moz-box-shadow: 2px 2px 10px #ccc;
box-shadow: 2px 2px 10px #ccc;
}

.ct-has-pullquote:before {
content: attr(data-pullquote);
background: #f9f9f9;
border-left: 10px solid #FFCB04;
width: 38.2%;
min-width: 280px;
padding: 5px 0 5px 20px;
position: relative;
top: 5px;
font-size: 18px;
line-height: 25px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
-webkit-box-shadow: 2px 2px 10px #ccc;
-moz-box-shadow: 2px 2px 10px #ccc;
box-shadow: 2px 2px 10px #ccc;
}


.lmi-has-pullquote:before {
content: attr(data-pullquote);
background: #f9f9f9;
border-left: 10px solid #08ADFB;
width: 38.2%;
min-width: 280px;
padding: 5px 0 5px 20px;
position: relative;
top: 5px;
font-size: 18px;
line-height: 25px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
-webkit-box-shadow: 2px 2px 10px #ccc;
-moz-box-shadow: 2px 2px 10px #ccc;
box-shadow: 2px 2px 10px #ccc;
}




.pullquote-right:before {
float: right;
	width: 320px;
	margin: -12px 0 12px 30px;
}
.pullquote-left:before {
	float: left;
	margin: 12px 31px 30px 10px;
	width: 320px;
}



.be {background-color: #C92E39;}

.es {background-color: #988F86;}

.ct {background-color: #FFCB04;}

.lmi {background-color: #08ADFB;}

/* Charts */





 div.chart2 {float:right;border:solid #333 1px;display:inline-block; margin:10px; }

 div.chart2 h5 {padding:10px;}
 div.chart1 {border:solid #333 1px;display:inline-block; margin:10px; }

div.chart4  {border:solid #333 1px;display:inline-block; margin:10px; }

div.chart3 {border:solid #333 1px;display:inline-block; margin:10px; }

/* Tooltips */

.hint {border-bottom:4px #68bcec solid ;padding:0;margin:0;line-height:11px}

/*

@media (max-width: 767px)
#navbar .navbar-collapse, #navbar .navbar-form, #navbar .navbar-toggle, #navbar .navbar-toggle:hover .icon-bar {
    background-color: #d5d5d5!important;
}
*/



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}


#block-views-upcoming-webinars-block-1 h2.block-title {
  font-size: 2.1em;
    color:#fff!important;
 background-color: #0075AD!important;
     text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}



.home-feature-title {
  font-size: 2.1em;
    color:#fff!important;
 background-color: #0075AD!important;
     text-align: center;
    margin-bottom: 0;
}



#block-views-upcoming-webinars-block-1 .row {

   padding: 20px 0  30px 0;

}


/* SGA SECTION */

article.node-sga p { font-size: 22px!important;line-height: 28px;padding-bottom:5px; font-family: 'Montserrat,', sans-serif!important;
}


.node-sga blockquote {
	display:block;
	background: #F5F5F5;
	padding: 15px 20px 10px 45px;
	margin: 10px auto;
	position: relative;
	width: 80%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif!important;
	border-left:5px solid #f5f5f5;
	font-style: italic;
	font-size: 16px;
	line-height: 1.2;
	color: #666;
	border-left-style: solid;
	border-left-width: 15px;
}


article.node-sga blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: lato;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;

}


article.node-sga blockquote::after{
  /*Reset to make sure*/
  content: "";
}



.node-type-sga h1.page-header {padding-top:20px;border-bottom:3px solid #000;}

div.funding-box p{background-color:#f6f6f6;padding:5px 0 10px 10px;line-height: 12px;}
div.funding-box p span{font-size:12px;}


/* ----------
LAYOUT CLASSES : HERO
---------- */

.hero-container { background-color: #fff; }

.hero {
	position: relative;
	overflow: hidden;
	background: url() no-repeat scroll 70% 30%;
	background-size: 100% auto;
	max-height: 420px;
}

.hero .dummy {
    padding-top: 56.25%;
}

/* @@@@@@
* MEDIA QUERIES
@@@@@@*/
@media only screen and (min-width:768px) {
	.hero .dummy { padding-top: 40%; }
}

@media only screen and (min-width:960px) {
	.hero .dummy { padding-top: 33.333%; }
}

@media only screen and (min-width:1200px) {
	.hero .dummy { padding-top: 25%; }
}






/* !Tiles */

	.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		postiion: relative;
		margin: -2.5em 0 0 -2.5em;
	}

		.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;
			width: calc(33.33333% - 2.5em);
			margin: 2.5em 0 0 2.5em;
		}

			.tiles article > .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 100%;
				border-radius: 4px;
				overflow: hidden;
			}

				.tiles article > .image img {
					display: block;
					width: 100%;
				}

				.tiles article > .image:before {
					-moz-pointer-events: none;
					-webkit-pointer-events: none;
					-ms-pointer-events: none;
					pointer-events: none;
					-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
					-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
					-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
					transition: background-color 0.5s ease, opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1.0;
					z-index: 1;
					opacity: 0.4;
				}

				.tiles article > .image:after {
					-moz-pointer-events: none;
					-webkit-pointer-events: none;
					-ms-pointer-events: none;
					pointer-events: none;
					-moz-transition: opacity 0.5s ease;
					-webkit-transition: opacity 0.5s ease;
					-ms-transition: opacity 0.5s ease;
					transition: opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					opacity: 0.25;
					z-index: 2;
				}

			.tiles article > a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 1em;
				border-radius: 4px;
				border-bottom: 0;
				color: #ffffff;
				text-align: center;
				text-decoration: none;
				z-index: 3;
			}

				.tiles article > a > :last-child {
					margin: 0;
				}

				.tiles article > a:hover {
					color: #ffffff !important;
				}

				.tiles article > a h2 {
					margin: 0;
					color:#fff;
				}

				.tiles article > a .content {
					-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
					-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
					-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
					transition: max-height 0.5s ease, opacity 0.5s ease;
					width: 100%;
					max-height: 0;
					line-height: 1.5;
					margin-top: 0.35em;
					opacity: 0;
				}

					.tiles article > a .content > :last-child {
						margin-bottom: 0;
					}

			.tiles article.style1 > .image:before {
				background-color: #ffcc07;
			}

			.tiles article.style2 > .image:before {
				background-color: #a0cfeb;
			}

			.tiles article.style3 > .image:before {
				background-color: #c92e39;
			}

			.tiles article.style4 > .image:before {
				background-color: #89060f;
			}

			.tiles article.style5 > .image:before {
				background-color: #ffcc07;
			}

			.tiles article.style6 > .image:before {
				background-color: #a0cfeb;
			}

			body:not(.is-touch) .tiles article:hover > .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}

				body:not(.is-touch) .tiles article:hover > .image:before {
					background-color: #333333;
					opacity: 0.35;
				}

				body:not(.is-touch) .tiles article:hover > .image:after {
					opacity: 0;
				}

			body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
			}

		* + .tiles {
			margin-top: 2em;
		}

		body.is-loading .tiles article {
			-moz-transform: scale(0.9);
			-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 0;
		}

		body.is-touch .tiles article .content {
			max-height: 15em;
			opacity: 1;
		}

		@media screen and (max-width: 1280px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(33.33333% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

		}

		@media screen and (max-width: 980px) {

			.tiles {
				margin: -2.5em 0 0 -2.5em;
			}

				.tiles article {
					width: calc(50% - 2.5em);
					margin: 2.5em 0 0 2.5em;
				}

		}

		@media screen and (max-width: 736px) {

			.tiles {
				margin: -1.25em 0 0 -1.25em;
			}

				.tiles article {
					width: calc(50% - 1.25em);
					margin: 1.25em 0 0 1.25em;
				}

					.tiles article:hover > .image {
						-moz-transform: scale(1.0);
						-webkit-transform: scale(1.0);
						-ms-transform: scale(1.0);
						transform: scale(1.0);
					}

		}

		@media screen and (max-width: 480px) {

			.tiles {
				margin: 0;
			}

				.tiles article {
					width: 100%;
					margin: 1.25em 0 0 0;
				}

		}



/*** SGA ****/
/*
a.anchor {
    display: block;
    position: relative;
    top: 50px;
    visibility: hidden;
}
*/

.anchor:before {
    display: block;
    content: "";
    height: 85px;
    margin: -85px 0 0;
}

.sga-block-menu {
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-top: #0075AD 5px solid;
    margin-bottom: 20px;
}

.sga-block-menu > ul > li {
    border-bottom: #ccc 1px solid;
    }


.node-type-sga .home-features .content-box .icon-inner-box i {

  padding-top: 10px;
  padding-left: 10px;
  font-size:40px;
}

.sga-block-menu h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}


article.node-sga ul li {
    font-size: 22px!important;
    line-height: 28px;
    padding-bottom: 5px;
    font-family: 'Montserrat,',sans-serif!important;
}

.node-type-sga .icontile {
	background-color: #0075AD;
	border-right:#fff solid 5px;
	padding:30px;
	position: relative;
	color:#fff;
	width:100%;
}

a.divLink:hover{
	color:#fff!important;
	text-align:center
	}

.node-type-sga .icontile:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;

}
.node-type-sga  a.divLink {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    color:#fff;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
   /* background-color: white;*/
    /*workaround to make clickable in IE */
   /* opacity: 0;*/
    /*workaround to make clickable in IE */
  /*  filter: alpha(opacity=0);*/
    /*workaround to make clickable in IE */
}



  .axis text {
  font: 10px sans-serif;
}

  .axis path,   .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

 .legend text {
  font: 12px sans-serif;
  fill: #000000;
}


 .category {
    margin: 0 !important;
}

  .key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
.legend {
    float:left;
    margin-right: 1em;
}

 .ssdi { background: #1F77B4;}
 .wages{ background: #FF7F0E;}




  #legend{
    overflow:hidden;
        padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
}


