/*** Style for Back to Top    ******************/

.back-to-top { background: none; margin: 0; position: fixed; 
               bottom: 0; right: 0; width: 70px; height: 70px;
               z-index: 100; display: none; color: #fff;
               background-color: #ff9000;
}

.back-to-top i { font-size: 60px;}